node_modules/
__pycache__/
*.pyc
.env
.env.*
deployments/genomics-k8s-application/values.yaml
deployments/dataengine-genomics-pipeline/genomics-ingest.yaml
*.egg-info/
dist/
build/
.venv/
helpers/
*fastq.gz
.DS_Store
.cursor/
.DS_Store
.vscode
.idea
*.codex
codex/
*.py[cod]
*$py.class
*.so
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
